@import "tailwindcss" source(".");

@theme {
  --font-sans-header:
    "Space Grotesk", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

#root {
  padding: 0rem 1rem;
}

h1,
h2,
h3 {
  font-family: var(--font-sans-header);
}

button {
  font-family: var(--font-sans-header);
  cursor: pointer;
}
